* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    font-family: 'Darker Grotesque', sans-serif;
  }

.header {
    background: #39375d;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 40px;
}

body {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='20.315mm' viewBox='0 0 57.587 57.587' width='20.315mm' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cg%3E%3Cpath d='M34.734,25.161h-21' fill='none' stroke='%2383b3cb' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3Cpath d='M43.734,18.809h-21' fill='none' stroke='%23b6d4e3' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3Cpath d='M43.853,32.128H31.893' fill='none' stroke='%239fa6b7' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3Cpath d='M34.734,38.778h-21' fill='none' stroke='%23615c9a' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'/%3E%3Cline fill='none' stroke='%239fa6b7' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' x1='24.252' x2='17.394' y1='32.124' y2='32.124'/%3E%3C/g%3E%3C/svg%3E"), url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='20.315mm' viewBox='0 0 57.587 57.587' width='20.315mm' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cpath d='M41.446,32.535A16.647,16.647,0,0,1,25.163,12.361a16.655,16.655,0,1,0,20.1,19.717A16.7,16.7,0,0,1,41.446,32.535Z' fill='%237269af'/%3E%3C/svg%3E");
    background-position:  0 0,
    25px 25px;
    background-size: 45px 50px;
    background-color: rgb(97 92 154);
    color: #39375d;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
main{
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    border: 20px solid rgb(58 55 93);
    /* height: 100vh; */
  
}
h1, h2, h3, h4 {
    letter-spacing: 1.7px;
    font-weight: 600;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
    text-decoration: 2px rgb(245 206 66) wavy underline;
}

h3 {
    font-size: 25px;
    text-decoration: 2px rgb(245 206 66) wavy underline;
}

p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.hr {
    border: 2px solid rgb(57 55 93);
    margin-top:10px;
    margin-bottom:10px;
}

.hTitle {
    margin-bottom: 10px;
    margin-top: 10px;
}

.cityForm {
    color: white;
    background-color: #494675;
    padding: 30px;
    border-right: solid 6px rgb(57 55 93);
    width: 30%;

}

.btnClass {
    width: 100%;
    background-color: #b6d4e3;
    border:none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
}
.btnClass:hover {
    background-color: #7169b0;
    color: white;
}

#city {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top:10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#informationContainer{
    padding: 30px;
    /* width: 50%;
    height: 60vh; */
}

/* #fiveDayContainer {
    display: flex;
    justify-content: space-between;
} */

#forecastBox {
    display: flex;
    flex-wrap: wrap;
}

#dynamicFive {
    background: #b6d4e3;
    padding: 20px;
    margin:10px;
}

#dynamicFive li {
    list-style-type: none;
}

#dynamicFive img {
    width: 30px;
}

footer {
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-right: 50px;
    margin-left: 50px;
}
.footerItems {
    text-decoration: underline wavy 1px;
    color: black;
    background-color: white;
    font-size: 13px;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;

}

/* Weather Cards */

.nameIconContainer {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.nameIconContainer img {
    width: 30px;
}


/* mobile  */

@media only screen and (max-width: 915px) { 
    main {
        flex-direction: column;
    }
.cityForm{
    width: 100%;
}
#informationContainer {
    width: 100%;
}
footer{
    align-items: center;
}
.footerItemsImg {
    padding: 0 auto;
}
.footerItems {
    padding: 5px 5px 5px 5px;
}
}